{% extends 'base.html' %}
{% load static %}
{% load i18n %}


{% block titl %}

  <link href="{% static 'css/feeds.css' %}?v=1" rel="stylesheet">
  <script src="{% static 'js/jquery.bullseye-1.0-min.js' %}"></script>
  <script src="{% static 'js/feeds.js' %}?v=1"></script>
  <script src="{% static 'js/jquery-3.1.1.min.js' %}"></script>
  <script src="{% static 'js/jquery.waypoints.min.js' %}"></script>
  <script src="{% static 'js/infinite.min.js' %}"></script>
  <title>Feeds</title>
{% endblock titl %}

{% block content %}

  <div class="row">
    <div class="col-md-6 col-md-offset-3">

      
<div class="page-header">
        <button type="button" class="btn btn-primary pull-right btn-compose">
          <span class="glyphicon glyphicon-share-alt"></span> {% trans 'Compose' %}
        </button>
        <h1>{% trans 'Feed' %}</h1>
      </div>

      <div class="panel panel-default panel-feed">
        <div class="panel-heading">
          <h3 class="panel-title">{% trans 'Latest posts' %}</h3>
        </div>
        <div class="panel-body">

          <div class="compose">
            <h2>{% trans "Compose a new post" %}</h2>
            <form role="form" id="compose-form">
              {% csrf_token %}
              <input type="hidden" name="last_feed">
              <div class="form-group">
                <textarea class="form-control" rows="3" name="post"></textarea>
              </div>
              <div class="form-group">
                <button type="button" class="btn btn-primary btn-post">
                  <span class="glyphicon glyphicon-send"></span> {% trans 'Post' %}
                </button>
                <button type="button" class="btn btn-default btn-cancel-compose">{% trans 'Cancel' %}</button>
                <span class="help-block help-count pull-right">255</span>
              </div>
            </form>
          </div>

        <div class="stream-update">
            <a href="#"><span class="new-posts"></span> {% trans 'new posts' %}</a>
          </div>


        {% if messages %}
            <ul class="messages">
            {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
            </ul>
        {% endif %}
        <a href="?page=1&refresh=1">See all</a>
          <ul class="stream infinite-container">
            {% for feed in feeds %}
              <div class="infinite-item">{% include 'feeds/partial_feed.html' with feed=feed %} </div>
            {% endfor %}
          </ul>

          {% if feeds.has_next %}
                <a class="infinite-more-link" href="?page={{ feeds.next_page_number }}">More</a>
          {% endif %}

          <script>
            var infinite = new Waypoint.Infinite({
            element: $('.infinite-container')[0]
           });
          </script>
          
         
{% comment %} <!--<div class="load">
            <img src="{% static 'img/loading.gif' %}">
          </div>
          <form method="get" action="{% url 'load' %}" id="load_feed" autocomplete="off">
            <input type="hidden" name="feed_source" id="feed_source" value="all">
            <input type="hidden" name="from_feed" value="{{ from_feed }}">
            <input type="hidden" name="page" value="{{ page }}">
          </form>-->
{% endcomment %}


        </div>
      </div>      
    </div>
  </div>



{% endblock content %}