{% load static %}
{% load humanize %}
{% load i18n %}

{% for comment in feed.get_comments %}
  <li feed-id="{{ comment.pk }}" csrf="{{ csrf_token }}">
    {% if comment.user == user %}
      <span class="glyphicon glyphicon-remove remove-feed" title="{% trans 'Click to remove this comment' %}"></span>
    {% endif %}
    <a href="{% url 'feed-home' %}">
      <img src="{% static "img/user1.png" %}" class="user-comment">
    </a>
    <h4>
      <a href="{% url 'feed-home' %}">
        {{ comment.user.username }}
      </a>
      <small>{{ comment.date|naturaltime }}</small>
    </h4>
    <div>{{ comment.post }}</div>
  </li>
{% empty %}
  <li class="empty">{% trans 'Be the first one to comment' %}</li>
{% endfor %}